body {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: grid;
  grid-template: "Header" 20vh "Main" 70vh "Footer" 0.1vh;
}
.logo {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(./../images/parking.0d2f58ac18e6a7ade9f2ed1055ebe69f.svg);
  background-size: 100px 82px;
}
.png {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(./../images/arrow.0590cde63b421131ef0a662d80457c78.png);
  background-size: 100px 82px;
}
.jpg {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(./../images/mars.afa8875d6ca350aefea9310f069c114a.jpg);
  background-size: 100px 82px;
}
